<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-language" content="{{ .Site.LanguageCode }}" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="width" />
<title>{{ block "title" . }}{{- if and ($.IsNode) (eq $.Section "") }} Home {{ else }} {{ .Title }} {{ end }} - {{ .Site.Title -}}{{ end }}</title>
{{- if .Description }}
<meta name="description" content="{{ .Description }}" />
{{ end -}}
{{- if .Keywords }}
<meta name="keywords" content="{{ delimit .Keywords "," }}" />
{{ end -}}
{{- if .Params.Author }}
<meta name="author" content="{{ .Site.Params.Author }}" />
{{ end -}}
{{ hugo.Generator }}
<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#F92672">
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:site" content="@{{ .Site.Params.twitteruser }}" />
{{- if .Params.Cover_Image }}
<link rel="image_src" href="{{ .Params.Cover_Image | absURL }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .Params.Cover_Image | absURL }}" />
<meta property="og:image" content="{{ .Params.Cover_Image | absURL }}" />
{{ else }}
<meta name="twitter:card" content="summary" />
{{ end -}}
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans|Raleway&display=swap" rel="stylesheet">
{{- if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end -}}

{{ partial "jsonld.html" . }}
