<header class="w-full">
    <nav class="flex flex-wrap items-center p-4 justify-between font-heading bg-off-white border-b border-off-black text-off-black shadow-md">
        <a href="{{ .Site.Home.Permalink }}" class="flex items-center text-3xl">
            <span class="w-12 h-12 mr-1">
                <img class="rounded-full border-2 border-off-black shadow-sm" src="/images/avatar.jpg" alt="The author's avatar" />
            </span>
            <span class="p-1">{{ .Site.Title }}</span>
        </a>
        <ul id="nav-menu" class="justify-end list-reset my-2">
            {{ with .Site.GetPage "/about" }}
            <li>
                <a href="{{ .Permalink }}" title="{{ .Title }}">
                    <svg class="w-6 h-6 inline-block fill-current text-off-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
