<article class="mx-4 mb-4 sm:mx-12 p-4 border border-gray-light text-gray-dark shadow-sm">
    <h1 class="mb-2 font-bold text-3xl leading-tight"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div>
        {{ .Description }}
    </div>
    {{ if .Params.tags }}
        <footer class="tags pt-2 mt-2 border-t border-gray-light">
            {{range .Params.tags}}
            <a class="mr-2 mb-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
            {{end}}
        </footer>
    {{end}}
</article>
