<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    {{- partial "head.html" . -}}
    <body class="flex flex-col min-h-screen font-sans text-lg">
        {{- partial "header.html" . -}}
        <section class="top">
            {{- block "top" . }}{{- end }}
        </section>
        <main class="flex-1 flex-grow sm:mx-4 md:mx-12 lg:mx-24 mt-2 sm:mt-4">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
