{{ define "top" }}
    {{ .Scratch.Set "color" "red" }}
    <div class="flex w-full bg-{{ .Scratch.Get "color" }}-base font-heading shadow-md">
        <div class="mx-auto my-8 text-{{ .Scratch.Get "color" }}-base text-xl sm:text-3xl md:text-4xl lg:text-5xl leading-tight">
            <span class="p-1 bg-off-white">#{{ .Title }}</span>
        </div>
    </div>
{{ end }}

{{ define "main" }}
    {{ .Content }}
    {{ range .Pages }}
        {{- partial "teaser.html" . -}}
    {{ end }}
{{ end }}
