{{ define "top" }}
    {{ if .Params.Cover_Image }}
    <div class="flex w-full p-4 bg-{{ .Params.Color | default "red" }}-base font-heading shadow-md">
        <figure class="illustration px-12 lg:px-24">
            {{ with .Params.Cover_Image }}
            <img class="w-full md:w-3/4 mx-auto" src="{{ . }}" alt="Illustration of a laptop computer and messy desk"/>
            {{ end }}
        </figure>
    </div>
    {{ end }}
{{ end }}

{{ define "main" }}
    <article class="mx-4 sm:mx-12 p-4 text-gray-dark">
        {{ if eq .Section "posts" }}
        <header class="mb-4">
            <h1 class="mb-2 font-bold font-heading text-4xl text-{{ .Params.Color | default "red" }}-base leading-snug">
                <span class="p-1 bg-off-black">{{ .Title }}</span>
            </h1>
            {{ if .Params.Subtitle }}
            <h2 class="mb-2 text-2xl font-heading text-{{ .Params.Color | default "red" }}-base leading-tight">
            <span class="p-1 bg-off-black">{{ .Params.Subtitle }}</span>
            </h2>
            {{ end }}
            <time class="post-date text-sm" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        </header>
        {{ end }}
        <section class="content">
            {{ .Content }}
        </section>
        <a href="https://twitter.com/intent/tweet?text={{ .Permalink }}{{ " @ericpugh" | safeURL }}">@ericpugh</a>
        {{ if .Params.tags }}
            <footer class="tags pt-2 mt-2 border-t border-gray-light">
                {{ range .Params.tags }}
                <a class="mr-2 mb-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
                {{ end }}
            </footer>
        {{end}}


    </article>
    <footer class="px-2">
        <nav class="w-full my-4">
            {{if .PrevPage}}
            <a role="button" class="float-left p-2 bg-off-black rounded-full" href="{{.PrevPage.Permalink}}" title="Previous">
                <svg class="w-8 h-8 inline-block fill-current text-gray-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"/></svg>
            </a>
            {{end}}
            {{with .NextPage}}
            <a role="button" class="float-right p-2 bg-off-black rounded-full" href="{{.Permalink}}" title="Next">
                <svg class="w-8 h-8 inline-block fill-current text-gray-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9"/></svg>
            </a>
            {{end}}
        </nav>
    </footer>
{{ end }}
