h1 {
    @apply text-4xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
p, ol {
    @apply mb-4;
}
ol {
    @apply pl-8 list-decimal;
}
ol li {
    @apply pl-2;
}
blockquote {
    @apply pl-4 mb-4 whitespace-pre-wrap border-l-8 border-gray-light;
}
code.inline-code {
    @apply bg-off-black text-off-white p-1;
}
.highlight {
    @apply my-2 py-2;
}
.highlight pre {
    @apply overflow-auto;
}
article a {
    @apply text-red-base;
}
article time.post-date {
    text-decoration-line: overline;
    text-decoration-style: wavy;
}
