<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}
<body class="flex flex-col h-screen w-screen bg-red-base">
    <div class="m-auto">
        <h1 class="p-4 bg-off-white text-red-base text-5xl md:text-6xl font-heading shadow-md">status code: 404</h1>
    </div>
</body>
</html>
