{{ define "top" }}
    {{ if .Params.Cover_Image }}
    <div class="relative flex w-full p-4 bg-red-base font-heading shadow-md">
        <figure class="illustration mx-auto">
            {{ with .Params.Cover_Image }}
            <img class="w-full sm:3/4 lg:w-1/2" src="{{ . }}" alt="Poster Image"/>
            {{ end }}
            <figcaption class="absolute top-0 right-0 m-16 sm:m-20 md:m-24 lg:m-24 text-red-base text-xl sm:text-2xl md:text-3xl lg:text-5xl">
                <span class="p-1 bg-off-white">{{ .Site.Params.Description }}</span>
            </figcaption>
        </figure>
    </div>
    {{ end }}
{{ end }}

{{ define "main" }}
    {{ range .Site.RegularPages }}
        {{- partial "teaser.html" . -}}
    {{ end }}
{{ end }}
